In [2]:
import pandas as pd

In [3]:
heartrate_seconds = pd.read_csv('C:/AMEYA/UW/Academics/DATA 515/Project/FitMe/database/heartrate_seconds_merged.csv')

In [4]:
heartrate_seconds['date_time'] = pd.to_datetime(heartrate_seconds['Time'], format = "%m/%d/%Y %I:%M:%S %p")

In [5]:
heartrate_daily = heartrate_seconds.groupby('Id').resample('1D', on = 'date_time', origin = '2016-04-12 07:21:00').Value.mean().reset_index()

In [6]:
heartrate_daily['date_time'] = pd.to_datetime(heartrate_daily['date_time'], format = "%m/%d/%Y %I:%M:%S %p")

In [7]:
heartrate_daily['date_time'] = heartrate_daily['date_time'].dt.date

In [8]:
heartrate_daily['date_time'] = pd.to_datetime(heartrate_daily['date_time'], format = "%Y/%m/%d")

In [15]:
daily_steps = pd.read_csv('C:/AMEYA/UW/Academics/DATA 515/Project/FitMe/database/dailySteps_merged.csv')
daily_steps['date_time'] = pd.to_datetime(daily_steps['ActivityDay'], format = '%m/%d/%Y')

In [16]:
daily_calories = pd.read_csv('C:/AMEYA/UW/Academics/DATA 515/Project/FitMe/database/dailyCalories_merged.csv')
daily_calories['date_time'] = pd.to_datetime(daily_calories['ActivityDay'], format = '%m/%d/%Y')

In [17]:
daily_intensities = pd.read_csv('C:/AMEYA/UW/Academics/DATA 515/Project/FitMe/database/dailyIntensities_merged.csv')
daily_intensities['date_time'] = pd.to_datetime(daily_intensities['ActivityDay'], format = '%m/%d/%Y')

In [18]:
daily_activity = pd.read_csv('C:/AMEYA/UW/Academics/DATA 515/Project/FitMe/database/dailyActivity_merged.csv')
daily_activity['date_time'] = pd.to_datetime(daily_activity['ActivityDate'], format = '%m/%d/%Y')

In [19]:
daily_sleep = pd.read_csv('C:/AMEYA/UW/Academics/DATA 515/Project/FitMe/database/sleepDay_merged.csv')
daily_sleep['date_time'] = pd.to_datetime(daily_sleep['SleepDay'], format = '%m/%d/%Y %I:%M:%S %p')

In [20]:
daily_values = heartrate_daily.merge(daily_steps, how = 'left', on = ['Id', 'date_time'])

In [21]:
daily_values = daily_values.merge(daily_calories, how = 'left', on = ['Id', 'date_time'])

In [22]:
daily_values = daily_values.merge(daily_intensities, how = 'left', on = ['Id', 'date_time'])

In [23]:
daily_values = daily_values.merge(daily_activity, how = 'left', on = ['Id', 'date_time'])

In [24]:
daily_values = daily_values.merge(daily_sleep, how = 'left', on = ['Id', 'date_time'])

In [25]:
daily_values.head()

,Id,date_time,Value,ActivityDay_x,StepTotal,ActivityDay_y,Calories_x,ActivityDay,SedentaryMinutes_x,LightlyActiveMinutes_x,...,SedentaryActiveDistance_y,VeryActiveMinutes_y,FairlyActiveMinutes_y,LightlyActiveMinutes_y,SedentaryMinutes_y,Calories_y,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,2022484408,2016-04-12,75.457695,4/12/2016,11875.0,4/12/2016,2390.0,4/12/2016,1157.0,227.0,...,0.0,42.0,14.0,227.0,1157.0,2390.0,NaN,NaN,NaN,NaN
1,2022484408,2016-04-13,80.779593,4/13/2016,12024.0,4/13/2016,2601.0,4/13/2016,1100.0,292.0,...,0.0,43.0,5.0,292.0,1100.0,2601.0,NaN,NaN,NaN,NaN
2,2022484408,2016-04-14,72.628597,4/14/2016,10690.0,4/14/2016,2312.0,4/14/2016,1148.0,257.0,...,0.0,32.0,3.0,257.0,1148.0,2312.0,NaN,NaN,NaN,NaN
3,2022484408,2016-04-15,80.437382,4/15/2016,11034.0,4/15/2016,2525.0,4/15/2016,1122.0,282.0,...,0.0,27.0,9.0,282.0,1122.0,2525.0,NaN,NaN,NaN,NaN
4,2022484408,2016-04-16,75.960547,4/16/2016,10100.0,4/16/2016,2177.0,4/16/2016,1237.0,151.0,...,0.0,41.0,11.0,151.0,1237.0,2177.0,NaN,NaN,NaN,NaN

In [26]:
daily_values.to_csv('C:/AMEYA/UW/Academics/DATA 515/Project/FitMe/heart_rate_analysis/data/daily_values.csv')